table {
  width: 100%;
}

td,
th {
  width: 15%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
.delete {
  cursor: pointer;
  color: #e15639;
}

.edit {
  cursor: pointer;
  color: #1878b0;
}

.search {
  cursor: pointer;
}
.add {
  font-size: 12px;
  line-height: 26px;
}
